@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&#39');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap&#39');

:root {
    --laranja-claro: #FF862A; /*Define uma variável CSS para cor laranja*/
}

body{
    font-size: 16px; /*Definir o tamanho da fonte base*/
    font-family: 'Montserrat';/*Define o tamnho da fonte principal do site*/
}

header{
    background-color: #ffffff;/*Fundo branco para o cabeçalho*/  
}

/*Seções Gerais*/
section{
    padding-bottom: 5rem; /*Espaçamento inferior grande para seções*/
}

/*Links de Navegação*/
.nav-link{
    color: #CB6D43; /*Cor marrom-alaranjada para os link*/
    font-weight: 600; /*Texto em negrito*/
}
.inicio-fundo{
    background-image: url('img/4965007.jpg');
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100% ;
    height: 606px;
    padding: 40;
    margin: 0 auto;
}

/*posicionamento para a imagem à direita*/
.img-inicio{
    position: absolute;
    right: 0;
    top: 18rem;
    width:45rem;
    height:auto;
}

.esquerda-conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}

.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;
}

.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}

#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/flor.png') top right no-repeat,
            url('img/flor-esquerda.png') bottom left no-repeat;
    background-size: 180px 180px;        
}

#tropicalia .container {
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     z-index: 1;    
}

h2 {
    font-family: 'Lemon', serif;  
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja-claro);
}

#galeria {
    background-color: #F4F4F4;
}

.fundo-galeria {
    background: url('img/flor-bottom-direita.png') bottom right no-repeat;
    background-size: 180px 180px;
}

#contato {
    background-image: url('img/4965007.jpg');
    background-size: cover;
    padding: 4rem 0;
    /*Espaçamento interno para a seção de contato*/
}

.fomulario {
    background-color: #ffffff;
    padding: 2rem;
    /*Espaçamento interno dentro do formulário*/
    border-radius: 10px;
    /*Borda arredondada para o formulário*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*Sombra suave para destacar o formulário*/
    font-weight: bold;
}

.formulario button {
    background-color: #CB6D43;
    border: none;
    font-weight: bold0;
}
/*chama a classe do bootstrap para modificar a cor*/
.form-control{
    background-color: #F1EDEF;
}